language: node_js
node_js:
    - 'node'
    - '10'
cache:
    directories:
        - ~/.npm

before_install:
    - npm install -g npm
    # - npm install -g greenkeeper-lockfile@1
install:
    - travis_retry npm install
before_script:
    # - greenkeeper-lockfile-update
after_script:
    # Only the first job will upload the lockfile
    # - greenkeeper-lockfile-upload
after_success:
    - 'cat ./coverage/lcov.info | ./node_modules/.bin/coveralls'

jobs:
    include:
        # If you only have a single version of `node` in `node_js`, uncomment this line.
        # If you have more than one version of node, this will cause problems.
        # - stage: test
        # Uncomment this block to enable semantic-release.
        # - stage: release
        #   node_js: lts/*
        #   before_install:
        #     - npm install -g npm
        #   install:
        #     - travis_retry npm install
        #   script:
        #     - npm run semantic-release
